body {
  font-family: Arial;
  text-align: center;
  background: red;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.emoji-container button {
  font-size: 30px;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
}